*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
   background:  linear-gradient(90deg,#6bc180 -4.35%,#4bc1ab 43.23%,#2ac0d1 71.08%,#369fd8 105.31%),#6bc180;
}
#root{
    padding: 20px;
    /* background-color: aliceblue; */
}
#container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
#nav-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#nav-header-ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
#nav-header-ul > li{
    font-size: 16px;
    font-weight: 500;
}
.fa{
    margin-left: 8px;
}
.nav-items{
    display: none;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background: hsla(0,0%,89%,.65);
    border-radius: 10px;
    color: #000;
    justify-content: space-evenly;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    right: 50px;
    top: 75px;
    width: 900px;
}
.nav-items .nav-item {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    flex-direction: column;
    max-width: 200px;
}
.nav-items .nav-item .nav-item-title {
    color: #369fd8;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 10px;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-items .nav-item .nav-item-content {
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    padding: 0;
}
.links:hover .nav-items { 
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-content: normal; 
    justify-content: space-evenly;
    align-items: normal;
}
.links:hover .nav-ites { 
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-content: normal; 
    justify-content: space-evenly;
    align-items: normal;
}
.links:hover{
    color: #369fd8;
    cursor: pointer;
}
.launch{
    align-items: center;
    color: #369fd8;
    font-size: 18px;
    font-size: var(--font-lg);
    justify-content: center;
    padding: 10px;
    width: auto;
}
.nav-ites{
    display: none;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background: hsla(0,0%,89%,.65);
    border-radius: 10px;
    color: #000;
    justify-content: space-evenly;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    right: 185px;
    top: 75px;
    width: 300px;
}
.hamberger{
    display: none;
}
#sub-main1{
    height: auto;
    margin-top: 4.1rem;
    text-align: center;
    padding: 20px;
    justify-content: center;
}
#sub-main1 > p{
    font-size: 14px;
    letter-spacing: .495em;
    line-height: 18px;
    font-weight: 500;
}
#sub-main1-title{
    font-size: 60px;
    line-height: 65px;
    margin-top: 20px;
    font-weight: 600;
}
#sub-main1-health{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#6bc180 -4.35%,#4bc1ab 43.23%,#2ac0d1 71.08%,#369fd8 105.31%),linear-gradient(180deg,#000,rgba(0,0,0,.427) 57.29%,transparent);
    -webkit-background-clip: text;
    animation: typing 3s steps(10),blink-caret 1s infinite;
    transition:all .5s ease-in-out;
}

@keyframes typing {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes blink-caret {
    0%, 100%{
        border-color: transparent;
    }
    50%{
        border-color: #add8e6;
    }
}
#sub-main1-context{
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}
#main1-btn{
    background: #369fd8;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 18px;
    margin: 30px;
    width: 130px;
    z-index: 1;
}
.toggle{
    display: none;
}
.heroSVG{
    transition: all .5 ease-in-out;
}
.heroSVG:hover{
    transform: scale(1.1);
}


.owner-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    margin-top: 100px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}


.owner-container h3{
    margin: 0;
}

.hospital-text{
    background: linear-gradient(to right, #6bc180, #369fd8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.owner{
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
    width: 100%;
}
.bluebox{
    background-image: url(/src/images/bluebox.svg);
}
.greenbox{
    background-image: url(/src/images/greenbox.svg);
}
.trape{
    align-items: center;
    display: flex;
    height: 256px;
    justify-content: center;
    width: 435px;
}
.owner-content{
    color: white;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    padding: 80px 80px 100px;
    text-align: left;
}
.box{
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 7px 11px 15px -3px #00000040;
    height: 100%;
    padding: 40px 30px;
    text-transform: none;
    width: 500px;
}
.box p{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding: 20px 30px;
    text-align: left;
}
.blue{
    background-color: #2ac0d1;
}
.green{
    background-color: #6bc180;
}
.btn{
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    text-align: center;
    width: 130px;
}


@media (max-width: 480px){    
    .owner-container{
        margin-top: 10px;
    }
    .owner-container{
        margin-top: 10px;
    }
}

@media (max-width: 550px){

    h3{
        font-size: max(30px,min(2vw,40px));
    }

    .box{
        margin-top: -70px;
        padding: 20px;
        width: 100%;
    }
}

@media (max-width:600px){
    .owner-container{
        margin-top: 50px;
    }    
    .owner{
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .trape{
        scale: .8;
    }
    .box{
        margin-top: -70px;
        scale: .8;
    }
}

@media (max-width:768px){
    #root{
        padding: 0px;
    }
    #container{
        border-radius: 0px;
    }
}
.toggle .line:first-child {
    transform: rotate(45deg) translate(5px,5px);
}
.toggle .line:nth-child(2) {
    opacity: 0;
}
.toggle .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px,-7px);  
}

@media (max-width:992px){
    #nav-header-ul{
        display: none;
    }
    .hamberger{
        display: block;
        z-index: 3;
        cursor: pointer;
    }
    .line{
        background: linear-gradient(90deg,#6bc180 -4.35%,#4bc1ab 43.23%,#2ac0d1 71.08%,#369fd8 105.31%),#6bc180;
        /* background: var(--bgColor); */
        height: 3px;
        margin: 5px 0;
        transition: all .5s ease;
        width: 30px;
    }
    .toggle{
        opacity: 1;
        transform: translateY(0);
    }
    .menu{
        opacity: 1;
        transform: translateY(0);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: hsla(0,0%,100%,.5);
        display: flex;
        flex-direction: column;
        height: 60vh;
        left: 0;
        padding: 50px 10px;
        position: absolute;
        top: 0;
        /* transform: translateY(-110%); */
        transition: all .3s ease-in-out;
        width: 100%;
        z-index: 1;
    }   
    .titles{
        color: #369fd8;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0 20px;
    }
    .nav-item{
        color: #369fd8;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 20px;
    }
    .fas{
        font-weight: 900;
        color: #6bc180;
        margin-right: 10px;
    }
    /* .hamberger .line {
        background: linear-gradient(90deg,#6bc180 -4.35%,#4bc1ab 43.23%,#2ac0d1 71.08%,#369fd8 105.31%),#6bc180;
        background: var(--bgColor);
        height: 3px;
        margin: 5px 0;
        transition: all .5s ease;
        width: 30px;
    } */
}

@media (max-width: 1199px){
    .owner{
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
}

